:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

:root { 
  --background-color: #FCF6D9; /* Background color for the entire website, including individual sections */
  --default-color: #2c2a2a; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #DDBA7D; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #CF4B00; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #FCF6D9; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Index section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.hero p {
  margin: 10px 0 0 0;
  font-size: 24px;
  color: var(--heading-color);
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, var(--accent-color) 90%, white 20%);
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about-page {
  background-color: var(--contrast-color);
  padding: 20px;
}

.about {
  width: 100%;
  min-height: 70vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
}

.about h2, .skills h2 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 20px;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
.resume-page {
  background-color: var(--contrast-color);
  padding: 20px;
}

.resume{
  width: 100%;
  min-height: 70vh;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.resume .resume-title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--accent-color);
  position: relative;
}

.resume .resume-item h4 {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/
.projects{
  width: 100%;
  min-height: 70vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--contrast-color);

}

.projects-carousel .carousel-item {
  height: 750px; 
  position: relative;
}

 .carousel-item img {
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-item {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.projects-carousel .carousel-item a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  
}
.contact .info-wrap {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

@media (max-width: 575px) {
  .contact .info-wrap {
    padding: 20px;
  }
}

.contact .info-item {
  margin-bottom: 40px;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .php-email-form {
  background-color: var(--surface-color);
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: var(--surface-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
}


/*--------------------------------------------------------------
# Additional Styling for Index Page
--------------------------------------------------------------*/
.info-box {
  background-color: var(--default-color);
  box-shadow: 10px 10px 20px var(--surface-color);
}
.index-header {
  color: var(--contrast-color);
  font-family: "Style Script", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
}

/*--------------------------------------------------------------
# Additional Styling for Web Site
/*--------------------------------------------------------------*/
footer {
  background-color: var(--background-color);
  color: var(--default-color);
  text-align: center;
  padding: 20px 0;
}
footer a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
  margin-right: 10px;
  margin-left: 10px;
}
footer a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 50%);
}

.copyright {
  font-size: 14px;
  margin-top: 20px;
}
